:root {
  /* colors */
  --row-bg-color: #ddd;
  --row-bg-color-dark: rgb(182, 182, 182);
  --main-text-color: #4a4a4a;
  --white: #fff;
  --black: #000;
  --primary-bg-color: #333;
  --link-hover-color: #ff2525;
  --link-decor-color: linear-gradient(136deg, #000, #8f8d8d);
  --modal-overlay-color: rgba(0, 0, 0, .6);

  /* sizes */
  --main-radius: 3px;
  --spacing-5: 5px;
  --spacing-10: 10px;
  --spacing-15: 15px;
  --spacing-20: 20px;
  --spacing-25: 25px;
}