@import 'partials/variables';

html,
body {
  color: var(--main-text-color);
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  flex-grow: 1;
  padding: var(--spacing-15);
}

a, button, input {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a {
  color: #fff;
  border-radius: var(--main-radius);
  background-image: var(--link-decor-color);
  padding: var(--spacing-5) var(--spacing-25);
  display: inline-block;

  &:hover {
    color: #fff;
  }
}

input {
  /* hide iOS input shadow */
  background-clip: padding-box;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.error {
  color: red;
}
