.basic-modal {
  background-color: var(--modal-overlay-color);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  &__content {
    pointer-events: none;
  }

  &--open {
    opacity: 1;
    pointer-events: auto;

    .basic-modal__content {
      pointer-events: auto;
    }
  }
}