.main-navbar {
  color: var(--white);
  background: var(--primary-bg-color);
  padding: var(--spacing-15);

  &__link {
    padding: 0;
    background: transparent;
    margin-right: 6px;

    &--active {
      text-decoration: underline;
    }
  }
}