.pagination {
  list-style: none;
  display: flex;
  gap: 5px;
  margin: 0;
  padding: 0;

  &__list-item {
    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  &__link {
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    background: transparent;

    &:hover, &--active {
      background: var(--main-text-color);
      color: var(--white);
    }
  }

  li {
    list-style: none;
  }
}