.simple-character-list {
  margin: 0;
  padding: 0;

  &__el {
    background-color: var(--row-bg-color-dark);
    width: 100%;
    padding: var(--spacing-10);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:nth-last-of-type(2n) {
      background-color: var(--row-bg-color);
    }
  }

  &__actions {
    width: 20px;
  }

  a {
    color: var(--main-text-color);
    display: block;
    padding: 5px;
    background: transparent;
    transition: all 0.2s;
    width: calc(100% - 20px);

    &:hover {
      color: var(--link-hover-color);
    }
  }
}